@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500;600;700&display=swap');
:root{
    --dark: #000000;
    --primary: #e7e9eb;
    --light: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;
}
body{
    background-color: var(--dark);
    color: var(--primary);
    font-size: 28px;
    font-weight: 700;
}

.container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: center;
    padding: 10px;
}
#board{
    width: 900px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}
#gibbet{
    float: left;
    width: 440px;
    text-align: center;
    min-height: 280px;
}
#alphabet{
    float: right;
    width: 440px;
    text-align: center;
    min-height: 280px;
}
.letter{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid var(--light);
    float: left;
    cursor: pointer;
    border-radius: 10px;
}
.letter:hover{
    border-color:  yellow;
}

.reset{
    color: green;
    cursor: pointer;
    font-size: 48px;
}
.reset:hover{
    color: white;
}
@media (max-width: 900px) {
    .container{
        width: 100%;
        display: block;
    }
    #board{
        width: 100%;
    }
    #gibbet{
        width: 100%;
    }
    #alphabet{
        float: none;
        margin: auto;
        width: 50%;
    }
}
nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 10px 10px; /* 3 */
}

nav ul {
    display: flex;
    list-style: none; /* 6 */
    margin-top: 10px;
}

nav li {
    padding-left: 15px; /* 7! */

}
nav span {
    text-decoration: none;
    color: #0d47a1
}